<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/reset.css">
    <link rel="stylesheet" href="./static/index.css">
    <title>오늘 뭐 먹지?</title>
</head>
<header>
    <img src = "./static/img/오늘 뭐 먹지.png" onclick="window.location.href='/'">
</header>
<body>
    <div class = "button_container">
        <button id = "deliver" onclick="window.location.href='/deliver'">배달</button>
        <button id = "package" onclick="window.location.href='/package'">직접 방문</button> 
    </div>
</body>
</html>